<h1>
  Checkbox
</h1>



<div class="mdc-form-field">
  <mdc-checkbox
    controlId="unchecked"></mdc-checkbox>

  <label for="unchecked">
    Unchecked
  </label>
</div>

<div class="mdc-form-field">
  <mdc-checkbox
    controlId="checked"
    [checked]="true"></mdc-checkbox>

  <label for="checked">
    Checked
  </label>
</div>

<div class="mdc-form-field">
  <mdc-checkbox controlId="indeterminate"></mdc-checkbox>

  <label for="indeterminate">
    Indeterminate
  </label>
</div>

<div class="mdc-form-field">
  <mdc-checkbox controlId="disabled"></mdc-checkbox>

  <label for="disabled">
    Disabled
  </label>
</div>
